<suite name="FastAPI Test Suite">
   
    <test name="API Tests">
        <classes>
            <class name="tests.AccountsTest"/>
            <class name="tests.BooksTest"/>
            <class name="tests.NegativeTest"/>
        </classes>
    </test>
<listeners>
    <listener class-name="io.qameta.allure.testng.AllureTestNg" />
</listeners>
    
</suite>
